<!-- src/app/saved-jobs/saved-jobs.component.html -->

  
  <div class="container" *ngIf="savedJobs && savedJobs.length > 0; else noSavedJobsTemplate">
    <h2>Saved Jobs</h2>
    <!-- <ul class="saved-job-list">
      <li *ngFor="let savedJob of savedJobs" class="saved-job-item">
        <h3>{{ savedJob.job.jobTitle || 'Job Title Not Available' }} at {{ savedJob.job.companyName || 'Company Not Available' }}</h3>
        <p><strong>Location:</strong> {{ savedJob.job.location || 'Location Not Available' }}</p>
        <p><strong>Status:</strong>
          <select [(ngModel)]="savedJob.applicationStatus" (change)="updateJobStatus(savedJob, savedJob.applicationStatus)">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select>
        </p>
        <p><strong>Description:</strong> {{ savedJob.job.jobDescription || 'Description Not Available' }}</p>
        <p><strong>Salary Range:</strong> {{ savedJob.job.salaryRange || 'Salary Range Not Available' }}</p>
      </li>
    </ul> -->
    <table>
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Company Name</th>
          <th>Location</th>
          <th>Salary Range</th>
          <th>Experience Level</th>
          <th>Job Description</th>
          <th>Save Job</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let job of savedJobs" class="job-item">
          <!-- iterates the array -->
          <td>{{job.job.jobTitle}}</td> //interpolation syntax
          <td>{{job.job.companyName}}</td>
          <td>{{job.job.location}}</td>
          <td>{{job.job.salaryRange}}</td>
          <td>{{job.job.experienceLevel}}</td>
          <td>{{job.job.jobDescription}}</td>

          <td>
            <p><strong>Status:</strong>
              <select [(ngModel)]="job.applicationStatus" (change)="updateJobStatus(job, job.applicationStatus)">
                <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
              </select>
            </p>
          </td>
          <!-- event binding click button save job -->
        </tr>
      </tbody>
    </table>
  </div>

    <!-- ASIDE -->
    <aside>
      <ul>
        <li><a [routerLink]="['/job-search']" routerLinkActive="active">Job Search</a></li>
      </ul>
      <ul>
        <li><a [routerLink]="['/city-info']">City Information</a></li>
      </ul>
    </aside>

  <ng-template #noSavedJobsTemplate>
    <p>No saved jobs found.</p>
  </ng-template>

 

