   /* * {
    box-sizing: border-box;
    } */
   
    
    html, body {
        /* text-align: center; */
        
        height: 100%;
        /* max-width: 1088px; */
        margin: 0;
        font-family: "Cormorant Garamond", serif;
        font-weight: 1000;
        font-style: normal;
    }

    .grid-container {
        display: grid; 
        width: 100%;
        height:100vh;
        background-image: linear-gradient(to bottom, #E3C95F, #4D4737);
        position: relative;
        /* justify-content: center; */
        /* justify-items: center; */
        grid-template-rows: 10rem auto;
        grid-template-columns: 1fr 1fr;
        flex-grow: 1;
    
        grid-template-areas: 
            "aside form"
            "footer footer";
    
    }
    
    aside {
        background-color: #6b6d84;
        padding:15px;
        display: flex;
        width: 9.6rem;
        height: 100vh;
        left:0;
       

        flex-direction: column;
        /* justify-content: space-around; */
    }
    
    ul {
       display: flex; 
       background-color: #fff;
       height: 5rem;
       border-radius: 20px;
       align-items: center;
    
    }
    
    ul li {
        /* background-color: #6b6d84; */
        list-style-type: none;
        margin:5px
    }
    
    ul li a {
        color: #6b6d84;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        display: block;
        font-size: 1.375rem;
        line-height: 2rem;
        padding-right: 2.43rem;
        
    }
    
    ul li a:hover{
        text-decoration: underline;
        font-weight: 1000;
        color: #000;
    }
    
    h1{
        /* font-size: 2.18rem;
        font-family: sans-serif; */
        position: relative;
        top: 0.30rem;
        left: -10.18rem;
        font-family: "Cormorant Garamond", serif;
        font-weight: 1000;
        font-style: normal;
        font-size: 2.9rem;
    }
    
    .main{
        position: relative;
       
    }
    
    .form{
        position: relative;
        right: 18.75rem;
        
    }
    
    .form-container{
    position: relative;
    right: 11.25rem;
    color: black;
    }
    
    .form-container input{
        width: 18rem;
        height: 3.4rem;
        margin: 0.85rem;
        background-color: #fff;
        color: #000;
        border-radius: 20px;
    }
    
    .form-container label {
        font-size: 1.8rem;
        font-weight: 1000;
    }
    
    .form-container [placeholder] {
        text-align: center;
    }
    
    .form-container #jobTitle {
        position: relative;
        left: 1.1rem;
    }
    
    
    .form-container #companyName {
        position: relative;
        left: 0.625rem;
    }
    
    .form-container #location {
        position: relative;
        left: 1.375rem;
    }
    
    
    .form-container #keyWords {
        position: relative;
        right: -0.1875rem;
    }
    
    
    .button{
        border: 0.0625rem solid #000;
        box-shadow: 0rem 0.1875rem;
        cursor: pointer;
        width: 11.25rem;
        height: 2.5625rem;
        background-color: #6b6d84;
        color: #000;
        border-radius: 2.75rem;
        margin: 0.875rem;
        position: relative;
        left: 15.0rem;
        bottom: 0.6rem;
        font-size: 1.75rem;
        font-weight: 550;
    }
    
    
    .button:hover {
        background-color: #abacba;
        }
        
         
        .button:active {
          margin-top: 1.25rem; 
          /* margin-bottom: 30px;  */
          box-shadow: 0px 0px; 
          background-color: #000;
          color: #6b6d84; 
        }
    
    
    
    
    
    address {
        text-align: center;
        position: relative;
        left: 5.9rem;
    }
    
    
    
    .mainpageFooter{
        width: 100%;
        padding:20px;
        
        background-color: #FFFFFF;
        color: #000; 
        z-index: 1;
        position: fixed;
        bottom: 0;
        
        left: 0;
        font-weight: 1000;
        font-size: 1.0625rem;
        
    }
    
    footer p {
    text-align: left;
    margin: 0 0 -1.25rem 0.875rem;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    bottom: 0.3125rem;
    right: 0.625rem;
    }
    
    
    
    form {
        grid-area: form;
    }
    
    aside {
        grid-area: aside; 
    }
    
    footer {
        grid-area: footer; 
    }
    
